@media(max-width:960px) {

.profile{
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.profile__text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-menu{
    display: block;
    font-size: 2.5rem;

}

.logo{
    display: flex;
    align-items: flex-start;

}

.menu{
    display: none;
}
.sobre-mim{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "title"
    "description"
    " skills"  ;
    grid-template-columns: auto;
    height: fit-content;
    
    
}

.section_title{
    grid-area: title;
}

.description{
    grid-area: description;
}

.skills{
    grid-area: skills;
}

.skills__icons{
   display: grid;
   justify-content: space-between;
   grid-template-columns: auto auto auto;
}

.section__title{
    font-size: 100px;
}

.projetos{
    margin-top: 60px;
    display: flex;
    height: fit-content;
}

.card__container{
    display: flex;
    flex-direction: column;
 margin-top: 40px;
 align-items: center;
 justify-content: center;


}

.card__container img {
    width: 672px;
height: 420px;

}

.contato{
    width: 100%;
    display: grid;
    grid-template-areas: 
    "title title title"
    "contatos . links"
    "social social social";
    height: fit-content;
    margin-bottom: 150px;
}

.section_title{
    grid-area: title;
}


.contato-container{
    margin-top: 40px;      
    grid-area: contatos;
    align-items: center;
    justify-content: center;

}

.social-container{
    margin-top: 40px;
    grid-area: social;
    display: flex;
    justify-self: center;
 }

.links-container{ 
    grid-area: links ;
    align-items: center;
    justify-content: center;
}

footer{
    grid-area: content;
    place-self: end center;

}

@media(max-width: 690px){
    .contato{
        width: 100%;
        display: grid;
        grid-template-areas: 
        "title "
        "contatos"
        "social"
        "links";
        height: fit-content;
        margin-bottom: 150px;
    }
    .social-container{
        margin-top: 40px;
        grid-area: social;
        display: flex;
        justify-self: center;
     }
    }
}


@media(max-width: 450px){ 
.social-container{
    display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
 
}
}

@media(max-width: 320px){ 
    .contato .section__title{
        display: grid;
        justify-items: center;
        font-size: 3rem;
    }

    .skills__icons{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
     }
   
}

@media(max-width: 1133px)and (min-width: 779px){

    .section__title{
        font-size: 150px;
    }


}
}}
